body {
    margin: 0 auto;
    font-size: calc(10px + 1vmin);
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    border-color: #282c34;
}
p {
    background-color: #282c34;
    border-color: #282c34;
}
.App {
    text-align: center;
}
.headerBox {
    min-height: 5vh;
    display: block;
    border: solid;
    border-color: #282c34;
    flex-direction: column;
    justify-content: center;
}
.topBox {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    min-height: 5vh;
    border: solid;
    border-color: #282c34;
}
.topInfoBox {
    max-width: 60vw;
    margin: 10px;
}
.bottomBox {
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    min-width: 100vw;
    border: solid;
    border-color: #282c34;
}
.romInputBox {
    display: flex;
    flex-direction: column;
    font-size: small;
}
.romValid {
    background-color: #28ac34;
}
.romWaiting {
    background-color: #287c84;
}
.romInvalid {
    background-color: #a82c34;
}
.sideBox {
    display: flex;
    flex-direction: column;
    font-size: calc(5px + 2vmin);
    border: solid;
    border-color: #282c34;
    min-width: 20%;
    height: 70vh;
    overflow: auto;
    padding: 0px;
}
.patchChoice {
    margin: 0px;
    text-align: left;
    font-size: calc(5px + 1vmin);
}
.patchChoice:hover,
.patchSelected {
    cursor: pointer;
    background-color: #484c54;
}
.tableBox {
    white-space: pre-line;
    border: solid;
    border-color: #282c34;
    min-width: 80%;
    height: 70vh;
    overflow: auto;
    td {
        border: solid;
        border-color: #282c34;
    }
}
.footerBox {
    justify-content: top;
    align: top;
    border: solid;
    border-color: #282c34;
}
.info {
    border: solid;
    align-self: center;
    border-color: #282c34;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    border-color: #282c34;
}
.download {
    border: solid;
    border-color: #282c34;
}
