/* swap to add red debug box */
$border: #ff0000;
$border: #282c34;

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-size: calc(10px + 1vmin);
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    border-color: $border;
}
p {
    background-color: #282c34;
    border-color: $border;
}
.App {
    text-align: center;
}
.headerBox {
    min-height: 5vh;
    display: block;
    border: solid;
    border-color: $border;
    flex-direction: column;
    justify-content: center;
}
.topBox {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    border: solid;
    border-color: $border;
}
.topInfoBox {
    max-width: 60vw;
    margin: 10px;
}
.bottomBox {
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    min-width: 100vw;
    border: solid;
    border-color: $border;
}
.romInfo {
    font-size: medium;
    height: 2rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    padding: 0.55rem;
    border-radius: 0.25rem;
    width: 10rem;
    position: absolute;
}
.romValid {
    background-color: #28ac34;
}
.romWaiting {
    background-color: #287c84;
}
.romInvalid {
    background-color: #a82c34;
}
.sideBox {
    display: flex;
    flex-direction: column;
    font-size: calc(5px + 2vmin);
    border: solid;
    margin: 10px;
    border-color: $border;
    min-width: 20%;
    height: 70vh;
    overflow: auto;
    padding: 0px;
}
.patchChoice {
    margin: 0px;
    text-align: left;
    font-size: calc(5px + 1vmin);
}
.patchChoice:hover,
.patchSelected {
    cursor: pointer;
    background-color: #484c54;
}

.romPanel {
    height: 70vh;
    display: flex;
    flex-direction: column;
    min-width: 60%;
}
.romTitleBox {
    display: table;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.romDetailsBox {
    display: table;
    white-space: pre-line;
    border: solid;
    border-color: $border;
    td {
        border: solid;
        overflow: visible;
        border-color: $border;
    }
}
.filler {
    display: table;
    width: 10%;
    overflow: hidden;
    border: solid;
    border-color: $border;
}
.footerBox {
    justify-content: top;
    align: top;
    border: solid;
    border-color: $border;
}
.info {
    border: solid;
    align-self: center;
    border-color: $border;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    border-color: $border;
}
.button_ {
    font-size: medium;
    cursor: pointer;
    height: 1.5em;
    line-height: 0.55em;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #42d;
    vertical-align: middle;
    padding: 0.55rem;
    border-radius: 0.25rem;
    width: 15rem;
    margin: 0.5em;
}
.buttonFile {
    opacity: 0;
    background: #fff;
    cursor: inherit;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.clearFile {
    font-size: small;
    cursor: pointer;
}
.noFile {
    font-size: small;
}
